.bg-footer {
  background-image: url(../img/team_background.jpg);
  height: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.859);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-footer .img-menu {
  border-radius: 50%;
  border: 2px solid white;
}